<h1>Productos en tiempo real</h1>
<hr />

<div>
  <form type="onsubmit" id="createForm">
    <div>Titulo: <input type="text" id="title"></div>
    <div>Descripción: <input type="text" id="description"></div>
    <div>Precio: <input type="number" id="price"></div>
    <div>Código: <input type="text" id="code"></div>
    <div>Stock: <input type="text" id="stock"></div>
    <div>Categoría: <input type="text" id="category"></div>
  <button type="submit" id="createBtn">Crear Producto</button>

  </form>

  <hr />
  <table id="realProductsTable">
    <thead>
      <tr>
        <th></th>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Código</th>
        <th>Stock</th>
        <th>Categorio</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td><button onclick="deleteProduct({{this.id}})">Eliminar</button></td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
      </tr>
      {{/each}}
    </tbody>

  </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>