<h1 class="display-3 text-center">Productos en tiempo real</h1>
<hr />

<div class="container" style="width: 50%">
  <form type="onsubmit" id="createForm">
    <div class="m-2 form-label">Titulo: <input type="text" class="form-control" id="title"></div>
    <div class="m-2 form-label">Descripción: <input type="text" class="form-control" id="description"></div>
    <div class="m-2 form-label">Precio: <input type="number" class="form-control" id="price"></div>
    <div class="m-2 form-label">Código: <input type="text" class="form-control" id="code"></div>
    <div class="m-2 form-label">Stock: <input type="text" class="form-control" id="stock"></div>
    <div class="m-2 form-label">Categoría: <input type="text" class="form-control" id="category"></div>

    <button type="submit" class="btn btn-primary" id="createBtn">Crear Producto</button>

  </form>

  <hr />
  <div class="container">
    <table id="realProductsTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Código</th>
        <th>Stock</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody id="tbodyProducts">
      {{#each products}}
      <tr>
        <td><button class="btn btn-danger" onclick="deleteProduct({{this.id}})">Eliminar</button></td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
      </tr>
      {{/each}}
    </tbody>

  </table>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>